.main-chat
  .main-chat__group-info
    .main-chat__group-info__group
      TEST
      .main-chat__group-info__group__ul
        Member: aaa
    .main-chat__group-info__edit
      = link_to "#" do
        Edit
  .main-chat__message
    .main-chat__message__box
      .main-chat__message__box__info
        .main-chat__message__box__info__username
          ao 
        .main-chat__message__box__info__date
          2020/06/22(Mon) 19:35:01
      .main-chat__message__box__body
        こんばんは！
    .main-chat__message__box
      .main-chat__message__box__info
        .main-chat__message__box__info__username
          ao 
        .main-chat__message__box__info__date
          2020/06/22(Mon) 19:35:01
      .main-chat__message__box__body
        こんばんは！
  .main-chat__message-form